{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3 offset-md-2">
                <h1>
                    {% trans "Change Password" %}
                </h1>

                <form method="post"
                      action="{% url 'account_change_password' %}"
                      class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit" name="action">
                        {% trans "Change Password" %}
                    </button>
                    <!--
                The following code is not deleted so it can be integrated in future implementation:
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                 -->
                </form>
                <br>
                <div>
                    <a class="btn btn-edit" href="{% url 'profile' request.user.username %}">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
