{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container mg-btm">
    <div class="row text-center mg-btm">
        <h1 class="mg-btm">
            This are your posts that you have saved as a draft.
        </h1>
        <h3 class="mg-btm-sm">
            You can modify and publish them here.
        </h3>
        <div>
            <button class="btn btn-edit btn-secondary mg-btm-sm">
                <a href="{% url 'profile' request.user.username %}" class="post-link-w">Back to Profile</a>
            </button>
        </div>
        <hr>
    </div>
    <!-- Blog Entries Column -->
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            {% for post in posts %}
            <div class="image-container">
                {% if not "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
            <a href="{% url 'edit_post' post.slug %}" class="post-link">
                <h2 class="card-title">{{ post.title }}</h2>
            </a>
            <p class="card-text">{{ post.excerpt }}</p>
            <hr />
            <p class="card-text text-muted h6 mg-btm">{{ post.created_on}}
            </p>
            {% endfor %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}