{% extends "base.html" %}
{% load static %}

{% block content %}
    {# djlint:off H006 #}

    <!-- index.html content starts here -->
    <div class="container mg-btm">
        <div class="row text-center mg-btm">
            <h1 class="mg-btm">
                These are your posts that you have saved as a draft.
            </h1>
            <h3 class="mg-btm-sm">
                You can modify and publish them here.
            </h3>
            <div>
                <a href="{% url 'profile_posts' %}" class="btn btn-edit mg-btm-sm post-link-w">Back to posts</a>
            </div>
            <hr>
        </div>
        <!-- Blog Entries Column -->
        <div class="col-12">
            {% if posts|length > 0 %}
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
                    {% for post in posts %}
                        <!-- Is if clause neeeded since it is included in the view? -->
                        {% if request.user == post.author %}
                            <div class="col">
                                <div class="card card-post h-100 card-body d-flex flex-column">
                                    <a href="{% url 'edit_post' post.slug %}"
                                       class="post-link text-decoration-none text-reset">
                                        <div class="image-container text-center">
                                            {% if not "placeholder" in post.featured_image.url %}
                                                <img class="card-img-top post-pic"
                                                     src=" {{ post.featured_image.url }}"
                                                     alt="{{ post.title }}">
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <h2 class="card-title">
                                                {{ post.title }}
                                            </h2>
                                            <p class="card-text mg-btm-sm">
                                                {{ post.excerpt }}
                                            </p>
                                            <p class="card-text text-muted h6 mg-btm">
                                                {{ post.created_on }}
                                            </p>
                                        </div>
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h3 class="text-center">
                You do not have any drafts at this point.
            </h3>
        {% endif %}
    </div>

    <!-- index.html content ends here -->
{% endblock %}
