{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>User Profile from {{ user }}</h1>
        <div class="text-center">
            <a class="black nav-link {% if request.path == email_url %}active" aria-current="page {% endif %}"
                href="{% url 'account_email' %}">Change Email</a>
            <a class="black nav-link {% if request.path == change_password_url %}active" aria-current="page {% endif %}"
                href="{% url 'account_change_password' %}">Change Password</a>
        </div>
        <form id="profileEdit" method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ profile_form | crispy }}
            <button type="submit">Save</button>
        </form>
        <form action="{% url 'account_delete' %}" method="get">
            {% csrf_token %}
            <button type="submit">
                Delete my account
            </button>
        </form>
        <div>
            <a href="{% url 'profile' request.user.username %}">Back to Profile</a>
        </div>
    </div>
</div>




{% endblock %}