/* General styles */
body {
    background-color: #F9FAFC;
}

.mg-top-header {
    margin-top: 145px;
}

.mg-top {
    margin-top: 5vh;
}

.mg-btm {
    margin-bottom: 5vh;
}

.mg-btm-sm {
    margin-bottom: 2vh;
}

.mg-r {
    margin-right: 3vw;
}

/* Links */

.link-decoration {
    text-decoration: none;
}

/* Buttons */

.btn-red {
    background-color: #6d180f;
    border-radius: 3px;
}

.btn-g {
    background-color: #055000 !important;
}

.btn-edit {
    background-color: grey;
    border: 2px solid #07090a;
    color: #07090a;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #6d180f !important;
    border: none;
    color: #fff;
}

/* Navbar */
.navbar-shadow {
    box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.44);
    padding: 35px 0px !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-mg-l {
    margin-left: 5vw;
}

.navbar-mg-r {
    margin-right: 5vw;
}

.mg-web {
    margin-top: 2vh;
    margin-right: 2vw;
}

.mg-r-auto {
    margin-right: auto !important;
}

/* does not work yet */
.navbar-nav > .active {
    color: white(0, 0, 0, 0.44);
}

.nav-link {
    border-radius: 3px;
}

.nav-link:hover {
    background-color: #6d180f;
    color: #fff !important;
}

/* Text styles */
.big-text {
    font-weight: 900;
}

.normal-text {
    font-weight: 500;
}

.red-golf {
    color: #6d180f;
    font-style: italic;
}

.black-pro {
    color: #07090a;
    font-style: italic;
}

.black {
    color: #000000 !important;
}

/* Background colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #07090a;
}

/* blog classes */
.card {
    border: none;
    background-color: transparent;
}

.author {
    color: #fff;
    margin: 5px;
    text-transform: uppercase;
}

.author-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.image-container {
    position: relative;
}

.author-plate {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6d180f;
    margin-bottom: 2vh;
}
/* Links */

.post-link {
    text-decoration: none;
    color: #07090a;
}

.post-link-w {
    text-decoration: none;
    color: #fff;
}

.media-link {
    text-decoration: none;
    color: #6d180f;
}

.pro-link {
    text-decoration: underline;
    color: #07090a;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    /* background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg); */
    z-index: 100;
}

/* about classes */
.about-image {
    margin-bottom: 5vh;
    max-height: 25vh;
}

/* profile page */

.background {
    background-color: rgb(109, 24, 15, 0.44);
}


/* Media query: large devices (992px and more) */
@media screen and (min-width: 992px) {
    /* header */
    
.navbar-between {
    margin-left: 2vw;
}

}