/* General styles */
body {
    background-color: #F9FAFC;
}

a {
    color: #07090a;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.mg-top-header {
    margin-top: 145px;
}

.mg-top {
    margin-top: 5vh;
}

.mg-top-sm {
    margin-top: 2vh !important;
}

.mg-btm {
    margin-bottom: 5vh;
}

.mg-btm-sm {
    margin-bottom: 2vh;
}

.mg-r {
    margin-right: 3vw;
}

.mg-r-xs {
    margin-right: 1vw;
}

.mg-l-xs {
    margin-left: 1vw;
}

/* Colors */

.errorlist {
    background-color: red;
    color: #fff;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

/* Post styles */

.post-pic {
    max-height: 30vh;
    max-width: fit-content;
}

.card-post:hover {
    opacity: 0.8;
    border: 1px solid #6d180f;
    border-radius: 5px;
}

.title {
    margin: 3rem;
}

.subtitle {
    margin: 0 3rem 0 3rem;
}

/* Links */

.link-decoration:hover {
    text-decoration: none !important;
}

/* Buttons */

.btn-red {
    background-color: #6d180f;
    border-radius: 3px;
}

.btn-success {
    background-color: #055000 !important;
}

.btn-success:hover {
    background-color: #033300 !important;
}

.btn-edit {
    background-color: grey;
    border: 1px solid #07090a;
    color: #07090a;
    padding: .375rem .75rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #6d180f !important;
    border: 1px solid #07090a !important;
    text-decoration: none;
    border: none;
    color: #fff !important;
}

/* Navbar */
.navbar-shadow {
    box-shadow: 0px 2px 18px 4px rgba(0, 0, 0, 0.44);
    padding: 35px 0px !important;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-mg-l {
    margin-left: 5vw;
}

.navbar-mg-r {
    margin-right: 5vw;
}

.mg-web {
    margin-top: 2vh;
    margin-right: 2vw;
}

.mg-r-auto {
    margin-right: auto !important;
}

.nav-link {
    border-radius: 3px;
}

.nav-link:hover {
    background-color: #6d180f;
    color: #fff !important;
}

/* Text styles */
.big-text {
    font-weight: 900;
}

.normal-text {
    font-weight: 500;
}

.red-golf {
    color: #6d180f;
    font-style: italic;
}

.black-pro {
    color: #07090a;
    font-style: italic;
}

.black {
    color: #000000 !important;
}

/* Background colors */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #07090a;
}

/* blog classes */
.card {
    border: none;
    background-color: transparent;
}

.author {
    color: #fff;
    margin: 5px;
    text-transform: uppercase;
}

.author-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
}

.image-container {
    position: relative;
}

.author-plate {
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6d180f;
    margin-bottom: 2vh;
}

/* Links */

.post-link:hover {
    color: #07090a !important;
    text-decoration: underline;
}

.post-link-w {
    text-decoration: none;
    color: #fff;
}

.media-link {
    text-decoration: none;
    color: #6d180f;
}

.pro-link {
    text-decoration: underline !important;
    color: #07090a !important;
}

.pro-link:hover {
    text-decoration: underline !important;
    color: #07090a !important;
    opacity: 0.7;
}

.scale {
    width: 100%;
    height: auto;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    max-height: 60vh;
    max-width: fit-content;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    z-index: 100;
}

/* about classes */
.about-image {
    margin-bottom: 5vh;
    max-height: 25vh;
}

/* profile page */

.background {
    background-color: rgb(109, 24, 15, 0.44);
}

/* Footer */

footer {
    padding-top: 3vh;
    width: 100%;
}

.footer-bg {
    background-color: rgb(109, 24, 15, 0.44) !important;
}

/* Error pages */

.error-img {
    display: flex;
    text-align: center;
    margin: 0 auto 2vh auto;
    max-height: 50vh;
    max-width: 70vw;
}


/* Media query: large devices (992px and more) */
@media screen and (min-width: 992px) {
    /* header */

    .navbar-between {
        margin-left: 2vw;
    }

}