{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <h1>Edit the post "{{ post.title }}"</h1>
        <form id="postEdit" method="post" enctype="multipart/form-data" style="margin-top: 1.3em;" class="mg-btm">
            {% csrf_token %}
            {{ post_form | crispy }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
        </form>
        <div class="col">
            {% if post.status == 1 %}
            <button class="btn btn-edit">
                <a href="{% url 'post_detail' post.slug %}" class="post-link-w">Back to post</a>
            </button>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="row mg-btm">
            <div class="col">
                <button class="btn btn-edit">
                    <a href="{% url 'posts_drafts' %}" class="post-link-w">Back to draft list</a>
                </button>
            </div>
            <div class="col">
                <form action="{% url 'delete_post' post.slug %}" method="get" class="text-end">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        Delete this post
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>


{% endblock %}