{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="mg-web mg-btm">
            <p class="text-center">This is a blog from <a href="https://projectgolfacademy.com/" target="_blank"
                    class="pro-link">PROject
                    GOLFacademy</a></p>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-12">
            <div class="row">
                {% for post in post_list %}
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
                <div class="col {% if post.pinned %}border border-dark rounded mg-btm-sm{% endif %}">
                        {% if post.pinned %}
                        <div class="card-header">
                            <i class="fas fa-thumbtack"></i> Pinned Posts
                        </div>
                        {% endif %}
                        <div class="card card-post">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col text-center">
                                    <p class="author author-plate mg-top-sm">Post from: <a
                                            class="author-link {% if request.path == profile_url %}"
                                            aria-current="page {% endif %}"
                                            href="{% url 'profile' post.author.username %}">
                                            {{ post.author }}</a></p>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link text-decoration-none text-reset">
                            <div class="image-container text-center">
                                {% if not "placeholder" in post.featured_image.url %}
                                <img class="card-img-top post-pic" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text mg-btm-sm">{{ post.excerpt }}</p>
                                <div class="row mg-btm-sm">
                                    <div class="col">
                                        <strong class="text-secondary">
                                            <i class="fas fa-thumbs-up"></i> {{ post.likes_count }}
                                        </strong>
                                    </div>
                                    <div class="col">
                                        <strong class="text-secondary">
                                            <i class="far fa-comments"></i> {{ post.comment_count }}
                                        </strong>
                                    </div>
                                </div>
                                <p class="card-text text-muted h6">{{ post.created_on }}
                                </p>
                            </div>
                        </div>
                    </a>
                    <hr>
                </div>
                <div class="col-1 col-sm-2 col-md-3 col-lg-4"></div>
            </div>
            <div class="row">
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}